---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import { Icon } from "astro-icon";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import { MotionBTTContainer } from "@/components/motion/MotionBTTContainer";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import PageTitle from "@/components/PageTitle.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import Column from "@/components/Column.astro";
---

<Layout
    title="Uptitude - The new era of learning."
    description="Discover Uptitude. The new era of learning."
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="features" class="features">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Features</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Simplify your Learning Experience
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Hey there! Welcome to <span
                            class="font-extrabold text-black italic"
                            >Uptitude<span class="text-pink-600">.</span></span
                        >, the first e-learning platform specialized in
                        designing courses based on self-regulation processes.
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs">
                <BadgeGroup alignment="center">
                    <BadgeMessage>More Features</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Your Path, Your Pace: Join Our Community of Self-Regulated
                    Learners
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Explore Your Path to Self-Regulated Learning. Our LMS
                        offers customizable activities and AI-powered chatbot
                        support, empowering you to tailor your learning
                        experience and succeed at your own pace.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1 text-primary-900">
                        <CardBody
                            class="w-full bg-white-600/20 p-12 border rounded"
                        >
                            <CardImage
                                src="/images/profile.png"
                                alt="Customizable Layouts image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Customizable Profiles
                            </CardHeader>
                            <p>
                                The platform features a section dedicated to
                                customizable profiles, allowing users to
                                personalize their experience. Students can
                                adjust settings, preferences, and other elements
                                to tailor their user profiles to their
                                individual needs and goals.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody
                            class="w-full bg-white-600/20 p-12 border rounded"
                        >
                            <CardImage
                                imageClass="object-contain"
                                src="/images/self-assesment.png"
                                alt="Peer evaluation system on Uptitude."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Self Assesment
                            </CardHeader>
                            <p>
                                Each person can self-assess using the rubrics
                                created by the teacher, which provide
                                information about the criteria. This comparative
                                activity helps students justify their choices
                                regarding their performance level and plan
                                improvements in designated spaces.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody
                            class="w-full bg-white-600/20 p-12 border rounded"
                        >
                            <CardImage
                                imageClass="object-contain"
                                src="/images/chatbot.png"
                                alt="Peer evaluation system on Uptitude."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Chatbot
                            </CardHeader>
                            <p>
                                A chatbot is available to act as a tutor,
                                supporting the self-regulation process and
                                offering guidelines for managing time,
                                information, certain study habits, etc.
                            </p>
                        </CardBody>
                    </Card>

                    <Card class="col-span-1 text-primary-900">
                        <CardBody
                            class="w-full bg-white-600/20 p-12 border rounded"
                        >
                            <CardImage
                                imageClass="object-contain"
                                src="/images/calendar.png"
                                alt="Peer evaluation system on Uptitude."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Calendar
                            </CardHeader>
                            <p>
                                The calendar is a tool that helps students
                                organize their time, plan their activities, and
                                set deadlines. It is a visual representation of
                                the time available for each task, which helps
                                students manage their time more effectively.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- More Features -->

            <SectionContainer id="responsive" class="benefits">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Responsive</BadgeMessage>
                    <BadgeIcon icon="mdi:monitor-screenshot" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Seamless Learning Across Every Screen
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Experience our responsive design tailored for all
                        devices.
                    </p>
                    <div class="relative flex justify-center items-center">
                        <img
                            class="relative w-[25rem] lg:w-[50rem]"
                            src="/images/resp_laptop.png"
                            alt="Responsive Design"
                        />
                        <img
                            class="absolute w-[15rem] lg:w-[30rem] top-1/2 transform -translate-y-1/4 lg:-right-8 right-0 md:right-32"
                            src="/images/resp_mobile.png"
                            alt="Responsive Design"
                        />
                    </div>
                </Content>
            </SectionContainer>
            <SectionContainer id="testimonials" class="benefits">
                <BadgeGroup alignment="left">
                    <BadgeMessage>Customers and users</BadgeMessage>
                    <BadgeIcon icon="mdi:account-group" />
                </BadgeGroup>
                <PageTitle class="" type="default">
                    This is what our customers have to say about Uptitude
                </PageTitle>
                <Column columnData={testimonialData} />
            </SectionContainer>
            <!-- Testimonials -->
            <SectionContainer id="faq" class="faq">
                <BadgeGroup alignment="center">
                    <BadgeMessage>FAQ</BadgeMessage>
                    <BadgeIcon icon="mdi:frequently-asked-questions" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Got some burning questions about Uptitude?
                    <br />
                    <br />
                    <p class="text-2xl text-gray-700">
                        No worries! We've got the answers you need:
                    </p>
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer>
        </SectionContainer>
    </div>
    <!-- FAQ -->

    <!-- Components Container -->
</Layout>
