---
import SectionContainer from "./SectionContainer.astro";
import Nav from "./Nav.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import navData from "@/data/navData.json";
---

<header
    id="header"
    class="header fixed left-0 w-full z-30 top-0 bg-white backdrop-filter backdrop-blur-md bg-opacity-0 transition-all duration-300"
>
    <SectionContainer class="header--container wrap wrap-px py-5">
        <div class="header-logo--container">
            <h1 class="logo mb-0 text-3xl font-extrabold italic">
                Uptitude<span class="text-pink-600">.</span>
            </h1>
        </div>
        <SectionContainer class="flex items-center ml-auto">
            <Nav navItems={navData} />
        </SectionContainer>
    </SectionContainer>
</header>

<script>
    if (typeof window !== "undefined") {
        window.addEventListener("scroll", function () {
            const header = document.getElementById("header");
            if (header) {
                if (window.scrollY > 50) {
                    header.classList.remove("bg-opacity-0");
                    header.classList.add("bg-opacity-50");
                } else {
                    header.classList.remove("bg-opacity-50");
                    header.classList.add("bg-opacity-0");
                }
            }
        });
    }
</script>
