---
import BadgeGroup from "./badge/BadgeGroup.astro";
import BadgeIcon from "./badge/BadgeIcon.astro";
import BadgeMessage from "./badge/BadgeMessage.astro";
import Button from "./button/Button.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import Content from "./Content.astro";
import SectionContainer from "./SectionContainer.astro";
import PageTitle from "./PageTitle.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import { MotionBTTContainer } from "./motion/MotionBTTContainer.jsx";
---

<SectionContainer class="page-banner--container py-16">
    <SectionContainer class="page-banner--inner-container wrap wrap-px z-10">
        <BadgeGroup alignment="center">
            <BadgeMessage>Discover Uptitude!</BadgeMessage>
            <BadgeIcon icon="mdi:hand-wave" />
        </BadgeGroup>
        <PageTitle class="text-center mx-auto" type="heavy">
            Welcome to the new era of learning.
        </PageTitle>
        <Content class="text-center" alignment="center">
            <p>
                Enhance your learning experience with Uptitude, an e-learning
                platform designed to help with <strong>
                    self-regulation</strong
                >.
            </p>
        </Content>
        <div class="mt-6 mb-16 text-center">
            <ButtonGroup alignment="center">
                <Button href="#features" class="btn btn--secondary border">
                    Features
                </Button>
                <a
                    role="button"
                    href="mailto:marcospalominovivar@gmail.com"
                    class="btn btn--secondary border"
                >
                    Contact us
                    <Icon name="mdi:arrow-right" class="w-6" />
                </a>
            </ButtonGroup>
        </div>
        <div class="page-banner--image">
            <Image
                src={"/images/main-photo.png"}
                width={1919}
                height={1440}
                alt={"Page Banner"}
                objectFit={"cover"}
                aspectRatio={16 / 9}
                format={"webp"}
                class="mx-auto"
            />
        </div>
    </SectionContainer>
</SectionContainer>
